@font-face {
    font-family: "BACKTO1982";
    src: url(./fonts/back-to-1982/BACKTO1982.TTF);
}

@font-face {
    font-family: "fff";
    src: url(./fonts/fff-forward/FFFFORWA.TTF);
}

@font-face {
    font-family: "Arcade";
    src: url(./fonts/arcadeclassic/ARCADECLASSIC.TTF);
}

*:focus {
    outline: none;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Arcade", serif;
}

button,
select,
input {
    -webkit-box-shadow: 5px 4px 0px -1px rgba(13, 16, 19, 0.4);
    -moz-box-shadow: 5px 4px 0px -1px rgba(13, 16, 19, 0.4);
    box-shadow: 5px 4px 0px -1px rgba(13, 16, 19, 0.4);
}

.nav-buttons button {
    width: 75px;
}

.nav-buttons span {
    margin-bottom: 5px;
}

button img {
    width: 18px;
}

.search img {
    width: 20px;
}

.search input {
    padding: 3px 5px;
}

.search {
    display: flex;
    align-items: center;
}

.container {
    width: 1080px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 15px;
}

.contact-book {
    padding: 25px;
    margin: 0 auto;
    width: 95%;
    background-color: white;
    border: 6px double black;
    -webkit-box-shadow: 13px 12px 0px -1px rgba(13, 16, 19, 0.4);
    -moz-box-shadow: 13px 12px 0px -1px rgba(13, 16, 19, 0.4);
    box-shadow: 13px 12px 0px -1px rgba(13, 16, 19, 0.4);
}

.navbar {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.navbar button {
    font-size: 14px;
}

.navbar input {
    font-size: 14px;
}

.nav-sort {
    display: flex;
    align-items: center;
}

.nav-sort select {
    font-size: 14px;
    padding: 3px;
}

.contact-book-content {
    display: flex;
    justify-content: space-between;
}

.contacts,
.contacts2 {
    border: 3px solid black;
    height: 400px;
    width: 50%;
    overflow: scroll;
    margin-top: 25px;
    padding: 10px;
    display: none;
}
.contacts2 {
    display: block;
}

.content {
    text-align: center;
    margin-right: 3%;
    max-width: 100vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact {
    border: 3px solid black;
    width: 400px;
    height: 100px;
    margin: 0 auto;
    -webkit-box-shadow: 7px 5px 0px -1px rgba(13, 16, 19, 0.4);
    -moz-box-shadow: 7px 5px 0px -1px rgba(13, 16, 19, 0.4);
    box-shadow: 7px 5px 0px -1px rgba(13, 16, 19, 0.4);
}

.contacts::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
    height: 0;
    background-color: white;
}
.contacts::-webkit-scrollbar-track {
    background: black; /* color of the tracking area */
    height: 50px;
}
.contacts::-webkit-scrollbar-thumb {
    background-color: rgb(84, 84, 84); /* color of the scroll thumb */
}

.contact-card {
    border: 2px solid black;
    width: 97%;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    -webkit-box-shadow: 6px 5px 0px -1px rgba(13, 16, 19, 0.4);
    -moz-box-shadow: 6px 5px 0px -1px rgba(13, 16, 19, 0.4);
    box-shadow: 6px 5px 0px -1px rgba(13, 16, 19, 0.4);
}

.contact-card:hover {
    background-color: rgb(194, 194, 194);
    transition: 0.2s;
}

.card-info {
    font-size: 23px;
    width: 300px;
}

.contact-card-info {
    display: flex;
}

.image {
    width: 60px;
    height: 60px;
    border: 1px solid;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.card-buttons button {
    margin: 5px;
    width: 60px;
}

.create-contact-modal,
.edit-contact-modal {
    padding: 10px;
    border: 4px solid black;
    width: 400px;
    height: 240px;
    position: absolute;
    left: 55.5%;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 6px 5px 0px -1px rgba(13, 16, 19, 0.4);
    -moz-box-shadow: 6px 5px 0px -1px rgba(13, 16, 19, 0.4);
    box-shadow: 6px 5px 0px -1px rgba(13, 16, 19, 0.4);
    display: none;
}

.create-contact-modal input,
.edit-contact-modal input {
    width: 80%;
    height: 10%;
    padding: 3px 8px;
    margin: auto 0;
}

.create-contact-modal button,
.edit-contact-modal button {
    margin-bottom: 10px;
    width: 80px;
}

.modal-close-btn,
.modal-close-btn2 {
    position: absolute;
    top: 0;
    left: 95.4%;
    -webkit-box-shadow: 0px 0px 0px -1px rgba(13, 16, 19, 0.4);
    -moz-box-shadow: 0px 0px 0px -1px rgba(13, 16, 19, 0.4);
    box-shadow: 0px 0px 0px -1px rgba(13, 16, 19, 0.4);
    width: 20px !important;
    height: 20px !important;
    border: 2px solid;
}

.image img {
    width: 60px;
    height: 60px;
}

h3 {
    font-size: 28px;
    text-shadow: 2px 2px 0px rgba(150, 150, 150, 0.55);
}

span {
    padding-right: 5px;
}

/* .contact-card {
    display: none;
} */
